<ul class="nav__links">
    {% for menu in menuList %}
        <li class="nav__item"><a href="{{menu.path}}">{{menu.title}}</a></li>
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav__item"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
    {% else %}
        <li class="nav__item"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
    {% endif %}
</ul>
