<div class="notification full-width">
    Vous utilisez une application de rapport de mission de la Direction des Affaires Maritimes.
    Vos saisies dans l'application sont enregistrées nominativement.
    Vous disposez d'un droit d'accès aux informations stockées.
</div>