
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

### PHPStorm IDE specific files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml

### node modules 
/node_modules

### Ignoring local datafixtures
/src/DataFixtures/*.local.php
