creerzipProd.sh
deployer.sh
prod.env.local
src/DataFixtures/Local/dropo
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

### PHPStorm IDE specific files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/dataSources*
.idea

### Other IDE
.buildpath
.project
.settings
nbproject

### node modules
/node_modules

### Ignoring local datafixtures
/src/DataFixtures/Local/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

### front ###
assets/js/params.json
/nbproject/private/

### docker
.docker/data
docker-compose.yml
