{% extends 'navPro/base.html.twig' %}


{% block body %}
    <div class="fr-container">
        <h1 class="fr-mt-4w">Ajouter un contr么le GM</h1>

        <div class="fr-grid-row">
            <button class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-administratif">
                Ajouter un contr么le administratif
            </button>
        </div>
        <div class="fr-grid-row fr-mt-4w">
            <button class="fr-btn">
                Ajouter un contr么le terrain (sur site)
            </button>
        </div>


        <div class="fr-grid-row fr-mt-4w">
            <h2>Reprendre un brouillon - contr么le GM</h2>
        </div>
    </div>

{% endblock %}
