{% extends 'navPro/base.html.twig' %}


{% block body %}
    <div class="fr-container">
        <h1 class="fr-mt-4w">Ajouter un contrôle GM</h1>

        <div class="fr-grid-row">
            <button class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-administratif">
                Ajouter un contrôle administratif
            </button>
        </div>
        <div class="fr-grid-row fr-mt-4w">
            <button class="fr-btn">
                Ajouter un contrôle terrain (sur site)
            </button>
        </div>

        <div class="fr-mt-4w">
            <h3>Contrôles effectués</h3>
        </div>

        <div class="fr-card fr-pb-4w fr-pl-2w">
            <div class="fr-grid-row fr-mt-4w fr-mb-2w">
                <div class="fr-col-md-1"></div>
                <div class="fr-col-md-5"></div>
                <div class="fr-col-md-2">Date</div>
                <div class="fr-col-md-2">Statut</div>
                <div class="fr-col-md-2"></div>
            </div>

            <div class="fr-grid-row">
                {% for contrUnit in contrUnitaires %}
                    <div class="fr-col-md-1">   <span class="fr-fi-file-fill fr-fi--lg icon-current-report" aria-hidden="true"></span></div>
                    <div class="fr-col-md-5">{{ contrUnit.type|formatControleGM }}</div>
                    <div class="fr-col-md-2">26/06/2023</div>
                    <div class="fr-col-md-2">
                        {% if contrUnit.brouillon %}
                            <span class="text-red">Brouillon</span>
                        {% else %}
                            Validé
                        {% endif %}
                    </div>
                    <div class="fr-col-md-2"><a class="fr-btn" href="{{ path('app_navpro_default_modif_controle_unitaire', {'id': contrUnit.id}) }}">Ouvrir</a></div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!--Bouton d'ouverture de la modale--><button class="fr-btn"  data-fr-opened="false" aria-controls="fr-modal-1">    Titre de modal simple</button><!-- Modale Simple     La balise <dialog> peut être placée n'importe où sur la page, toutefois     nous vous conseillons, si vous en avez la possibilité,     d'en faire un enfant direct de la balise <body>--><dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="fr-modal-1" class="fr-modal">    <div class="fr-container fr-container--fluid fr-container-md">        <div class="fr-grid-row fr-grid-row--center">            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">                <div class="fr-modal__body">                    <div class="fr-modal__header">                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-1">Fermer</button>                    </div>                    <div class="fr-modal__content">                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Titre de la modale</h1>                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.</p>                    </div>                </div>            </div>        </div>    </div></dialog>


{% endblock %}
