<!doctype html>
<html lang="fr" data-fr-scheme="system">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ encore_entry_link_tags('navpro') }}

        <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
        <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"><!-- 180×180 -->
        <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml">
        <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
        <link rel="manifest" href="favicon/manifest.webmanifest" crossorigin="use-credentials">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- Modifier les chemins relatifs des favicons en fonction de la structure du projet -->
        <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery base library needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <title>RapportNav - Gens de mer</title>
    </head>
    <body>

    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo">
                                    Secretariat d'état
                                    <br>chargé de la mer
                                </p>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="{{ path('app_navpro_accueil') }}" title="Accueil - RapportNav | Gens de Mers">
                                <p class="fr-header__service-title">
                                    RapportNav
                                </p>
                            </a>
                            <p class="fr-header__service-tagline">DGTM - Gens de mer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="fr-mb-8w">
        {% block body %}{% endblock body %}
    </main>


    <footer class="fr-footer" role="contentinfo" id="footer">
        <div class="fr-container">
            <div class="fr-footer__body">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="{{ path('app_navpro_accueil') }}" title="Retour à l’accueil du site - Secrétariat d'état chargé de la Mer">
                        <p class="fr-logo">
                            Secrétariat d'état
                            <br>chargé de la mer
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">Outil de rapportage RapportNav</p>

                </div>
            </div>
            <div class="fr-footer__bottom">
                <div class="fr-footer__bottom-copy">
                    <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Script en version es6 module et nomodule pour les navigateurs le ne supportant pas -->
    {{ encore_entry_script_tags('navpro') }}



    {% block javascripts %}{% endblock %}
    {% block modals %}{% endblock %}
    </body>
</html>
