{% extends 'navPro/base.html.twig' %}


{% block body %}
    <div class="fr-container">
        <h1 class="fr-mt-4w">Ajout d'un contrôle GM administratif par lot</h1>

        <div class="fr-grid-row fr-mt-6w">
            <form action="">
                <label class="fr-label" for="text-input-text">Nombre de contrôles documentaires : </label>
                <input class="fr-input" type="number" id="text-input-text" name="text-input-text" value="0">
            </form>
        </div>


    </div>

{% endblock %}
