.horizontal__form {
    margin-top: 0 !important;
}

fieldset.vertical {
    align-items: flex-start;
    flex-direction: column;
}

legend.required::after {
    content: '✱';
    color: #d63626;
    color: var(--red);
    font-weight: 700;
    margin-left: 0.5em;
    margin-left: var(--space-xs);
}

.form__checkbox {
    padding-bottom: var(--space-xs);
    display: flex;
}

.form__checkbox input {
    flex-shrink: 0;
}

.row + .row {
    margin-top: 30px;
}

.form__validators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__validators button,
.form__validators button:focus,
.form__validators button:active,
.form__validators button:visited{
    width: 33.33%;
}
