.horizontal__form {
    margin-top: 0 !important;
}

fieldset {
    align-items: flex-start;
    flex-direction: column;
}

legend.required::after {
    content: '✱';
    color: #d63626;
    color: var(--red);
    font-weight: 700;
    margin-left: 0.5em;
    margin-left: var(--space-xs);
}

.form__checkbox {
    padding-bottom: var(--space-xs);
}

.row + .row {
    margin-top: 30px;
}