<p>Bonjour,</p>
<p>Nous espérons que votre patrouille s’est bien déroulée. N’oubliez pas de saisir votre rapport de mission sur RapportNav.</p>
<p>L'équipe de RapportNav reste à votre disposition en cas de besoin.</p>
<p>Bien cordialement</p>