<p>Bonjour,</p>
<p>
    Le départ pour votre prochaine patrouille à bord du {{ service.nom }} est prévu pour demain. Nous vous invitons à saisir votre rapport de mission sur RapportNav.
</p>
<p>
    L'équipe de RapportNav reste à votre disposition en cas de besoin.
</p>
<p>
    Bien à vous et bonne marée !
</p>

