.date-time-picker {
    display: flex;
    justify-content: space-between;
}

.icon-calendar {
    margin-left: 20px;
    font-size:14px;
}

.time-preview {
    position: relative;
    width: 105px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    user-select: none;
    background-color: #F2F2F9;
    box-shadow: inset 0 -2px 0 0 #000091;
}
.timepicker {
    width: 100%;
    bottom: 0;
    display: flex;
}
.timepicker div input{
    width: 60px;
}
.date-picker {
    margin-right: 5px;
    position: relative;
    width: 162px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    user-select: none;
    background-color: #F2F2F9;
    box-shadow: inset 0 -2px 0 0 #000091;
}

.date-picker:hover {
    background-color: #F3F3F3;
}

.date-picker .selected-date, .time-picker .selected-time {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1E1E1E;
    font-size: 16px;
}

.date-picker .dates {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 315px;
    display: block;
    box-shadow: 0 3px 10px #00000029;
    padding: 20px 5px;
    z-index: 5;
    background-color: #FFF;
}

.date-picker .dates.active {

}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .datepicker__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 14px;
}

.datepicker__day.selected {
    color: #1E1E1E;
    background-color: #9A9AFF;
    border-radius: 50%;
    font-size: 14px;
}

.datepicker__day {
    height: 41px;
    width: 41px;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 6px;
}
