<div class="row">
    <div class="row">
        <div class="form__group horizontal__form" id="">
            {{ form_label(form.typeMissionControle) }}
            {{ form_errors(form.typeMissionControle) }}
            {{ form_widget(form.typeMissionControle) }}
        </div>
        <div>
            Identification de l'aire Marine
        </div>
    </div>

</div>
<h3>Navires Contrôlés</h3>
{% include 'controle/controleNavireComponent.html.twig' with {'form': form} %}


