<div class="row">
    <div class="row">
        {% include 'formThemes/stackedRadioFormTheme.html.twig' with {'form': form.typeMissionControle, 'attr': {'@change': "toggleAireMarine" }} %}
        <div v-if="missions['navire'].showAireMarine">
            {{ form_label(form.aireMarine) }}
            {{ form_widget(form.aireMarine, {'attr': {'v-model': "missions['navire'].aireMarine"}}) }}
            {{ form_errors(form.aireMarine) }}
        </div>
    </div>

</div>
<h3>Navires Contrôlés</h3>
{% include 'controle/controleNavireComponent.html.twig' with {'form': form} %}


