.mr-2 {
    margin-right: 25px;
}
.divider-vertical {
    border-left: 1px solid #e7e7e7;
    height: 30px;
    opacity: 1;
}

.divider-horizontal {
    border-bottom: 1px solid #e7e7e7;
    height: 30px;
    opacity: 1;
}

.text-grey {
    color: #9c9c9c;
    opacity: 1;
    font-weight: normal;
}
.text-bold {
    font-weight: bold;
}

.text-sm {
    font-size: 14px;
}
.text-red-error {
    color: #e10600;
}

.listMenuSide {
    width: 304px !important;
}

.mainContent {
    width: 792px;
}

.fr-container-custom {
    width: 90%;
    margin: auto;
}

.text-blue-france {
    color: #000091;
}

.text-right {
    text-align: right;
}

.list-unstyled {
    width: 223px;
    list-style-type: none;
}

.nav-list {

    margin-bottom: 22px;
}

.nav-list.active {
    color: #000091;
    font-weight: bold;
}

.text-800 {
    font-weight: 800;
}

.box-shadow-card {
    margin: auto;
    box-shadow: 0px 3px 6px #00000026;
    padding: 20px 35px 5px 35px;
}

.form-date {
    width: 162px;
}

.form-custom {
    border: none !important;
}

.form-time {
    width: 93px;
}

.form-valid {
    background-color: #F2F9F5 !important;
    border-bottom: solid 3px #008941 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z' fill='rgba(0,137,65,1)'/%3E%3C/svg%3E");
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

[class*=" fr-fi-xs"]:before, [class^=fr-fi-xs]:before {
    font: normal normal normal 18px dsfr-icons;
}

.main-task-active {
    background: #F2F2F9;
    padding: 10px 30px 10px 10px;
    opacity: 1;
}
.toggle-custom {
    width: 50%;
    margin-left: 30px;
    margin-top: -25px;

}
.toggle-custom > label {
    font-size: 12px !important;
    color: #9C9C9C;
}

.fr-toggle__input {
    flex-shrink: 0;
    width: 2rem;
    height: 1rem;
    border: 0;
    border-radius: 1.5rem;
    margin-top: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fr-toggle__label:after {
    font: normal normal normal 1rem/1 dsfr-icons;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-indent: -9999px;
    z-index: 1;
    margin-top: 5px !important;
}

.checkbox-group {
    margin-bottom: 25px;
}

.with-vertical-divider {
    border-left: 1px solid #E7E7E7;
    height: 100%;
    opacity: 1;
}



.text-center {
    text-align: center;
}

.icon-grey {
    color: #cecece;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}