@import url("table-dropdown.css");

.table-controle {
    display: block;
    overflow-x: auto;
    width: 700px;
}

.td-table-controle {
    max-width: 122px;
    min-width: 122px;
    font-size: 16px;
    text-align: center;
    height: 32px;
    background-color: #F9F8F6;
}
.th-row-autre-mission {
    padding: 10px;
}
.thead-controle {
    text-align: center;
    line-height: 1rem;
}

.thead-controle th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.td-pavillon  {
    border-left: #000091 solid 5px;
}

th {
    font-size: 12px;
}

.fr-select-custom {
    background-color: #F9F8F6;
    box-shadow: none;
}

.add-pavillon {
    cursor: pointer;
    border: 2px solid #F2F2F9;
    font-size: 12px;
    padding-left: 10px;
    color: #AEADD8;
    border-left: #AEADD8 5px solid;
    font-weight: normal !important;

}

.td-add-column {
    background-color: #E5E5F4;
    width: 40px;
}

.add-column {
    cursor: pointer;
    color: #AEADD8;
}

.add-icon {
    font-size: 24px;
    margin-top: 5px;
}

tfoot {
    position: absolute;
    margin-top: 68px !important;
    background: #E5E5F4;
    padding-left: 30px;
    width: 100%;
    margin-left: -34px !important;
}
.th-foot-controle, .td-foot-controle {
    width: 122px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #000091;
}


.add-pavillon {
    display: flex;
    width: 250px;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    border: 2px solid #F2F2F9;
    border-left: rgba(0, 0, 145, 0.3) solid 5px;
}
.add-pavillon span {
    margin-top: 4px;
    margin-left: 3px;
}

.add-column-label .add-icon {
    margin-top: 10px;
    margin-right: 10px;
}

.add-column-label .icon-text {
    text-align: left;
}

.total-control {
    background-color: #E5E5F4;
}
