{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main %}
    <section class="section">
        <div class="container">
        </div>
    </section>

{% endblock body_main %}