{% extends "base.html.twig" %}

{% block head_title %}Accueil{{ parent() }}{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main %}
    <section class="section">
        <div class="container">
            <div style="width: 50%">
            <h1>Ajout d'un nouveau rapport</h1>
            <div class="">
                <a href="{{ path('rapport_create') }}" class="button large">
                    Créer un rapport de mission
                </a>
            </div>
            </div>
            <div style="width: 90%">
                <iframe
                        src="{{iframeUrl}}"
                        frameborder="0"
                        width="100%"
                        height="600"
                        allowtransparency
                ></iframe>
            </div>
        </div>
    </section>

{% endblock body_main %}