{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://surveyjs.azureedge.net/1.0.72/survey.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
{% block body %}
    <ul>
        {% for form in forms %}
            <li><a href="{{ path('show_form', {'id': form.id }) }}">{{ form.name }} - V{{ form.version }}</a></li>
        {% endfor %}
    </ul>

{% endblock body %}