{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    <ul>
        {% for typeName, type in list %}
            <li>{{ typeName }}
                <ul>
                    {% for submission in type %}
                        <li><a href="{{ path('edit_controle_des_peches', {'id_edit': submission.id}) }}">Mission du {{ submission.dateMission | date('d/m/Y') }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock body_main_container %}