{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main %}
    <section class="section">
        <div class="container">
            <h1>Ajout d'un nouveau rapport</h1>
            <div class="">
                <a href="{{ path('controle_des_peches') }}" class="button large">
                    Ajouter un contrôle des Pêches
                </a>
            </div>
        </div>
    </section>

{% endblock body_main %}