{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://surveyjs.azureedge.net/1.0.72/survey.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
{% block body %}
    <ul>
        {% for submission in submissions %}
            <li>{{ submission.id }} - {{ submission.lastEdition | date('d/m/Y H:i') }} - {{ submission.relatedForm.id }} <a href="{{ path('edit_submission', {'id': submission.id}) }}">edit</a></a> </li>
        {% endfor %}
    </ul>

{% endblock body %}