<div class="modal__backdrop" id="modal" style="z-index: 999;">
    <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
        <div>
            <h2>Ajouter une mission</h2>

            <div class="">
                <a href="#modal-navire" class="button large" @click="addMission('navire')">
                    Ajouter un contrôle de navire
                </a>
            </div>
            <div class="">
                <a href="#modal-commerce" class="button large" @click="addMission('commerce')">
                    Ajouter un contrôle de la filière commercialisation
                </a>
            </div>
            <div class="">
                <a href="#modal-pechePied" class="button large" @click="addMission('pechePied')">
                    Ajouter un contrôle de la pêche à pied
                </a>
            </div>
            <div class="">
                <a href="#modal-administratif" class="button large" @click="addMission('administrative')">
                    Ajouter une activité administrative
                </a>
            </div>
            <div class="">
                <a href="#modal-formation" class="button large" @click="addMission('formation')">
                    Ajouter une activité de formation
                </a>
            </div>

            <div class="form__group button__group">
                <a class="button" href="#missions">Valider</a>
                <a class="button secondary" href="#missions">Annuler</a>
            </div>
        </div>
    </div>
</div>