{% extends "rapport.html.twig" %}

{% block head_title %}Ajout d'une activité administrative {{ parent() }}{% endblock head_title %}

{% block body_main_container_title %}Ajout d'une activité administrative{% endblock body_main_container_title %}

{% block body_main_container_rapport_objects %}
    <h2>Formation réalisées</h2>
    {{ form_widget(form.formation) }}
{% endblock body_main_container_rapport_objects %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}