<span class="form__checkbox">
    {% if attr is defined %}
        {{ form_widget(box, {'attr': attr}) }}
    {% else %}
        {{ form_widget(box) }}
    {% endif %}
    {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
</span>